練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？
Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等
有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？
可參考該基礎教材或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [7]:
# 設定 data_path
dir_data = './data/'

In [8]:
hmeq = os.path.join(dir_data, 'hmeq.csv')
print('Path of read in data: %s' % (hmeq))
hmeq_train = pd.read_csv(hmeq)

Path of read in data: ./data/hmeq.csv

列出所有欄位
資料的 row 數以及 column 數

In [9]:
hmeq_train.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [12]:
hmeq_train.shape

(5960, 13)

截取部分資料

In [14]:
hmeq_train['VALUE'][0:10]

0     39025.0
1     68400.0
2     16700.0
3         NaN
4    112000.0
5     40320.0
6     57037.0
7     43034.0
8     46740.0
9     62250.0
Name: VALUE, dtype: float64

In [16]:
hmeq_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5960 entries, 0 to 5959
Data columns (total 13 columns):
BAD        5960 non-null int64
LOAN       5960 non-null int64
MORTDUE    5442 non-null float64
VALUE      5848 non-null float64
REASON     5708 non-null object
JOB        5681 non-null object
YOJ        5445 non-null float64
DEROG      5252 non-null float64
DELINQ     5380 non-null float64
CLAGE      5652 non-null float64
NINQ       5450 non-null float64
CLNO       5738 non-null float64
DEBTINC    4693 non-null float64
dtypes: float64(9), int64(2), object(2)
memory usage: 605.4+ KB