In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [13]:
"""
Your Code Here
"""
sub_train_after=pd.get_dummies(sub_train)
sub_train_after

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0
5,0,0,0,0,0,0,1
6,0,0,0,1,0,0,0
7,0,1,0,0,0,0,0
8,0,0,0,0,0,0,1
9,0,0,0,0,1,0,0
10,0,0,1,0,0,0,0
11,1,0,0,0,0,0,0
12,1,0,0,0,0,0,0
13,0,0,0,0,1,0,0
14,0,1,0,0,0,0,0
15,0,0,1,0,0,0,0
16,0,0,0,0,1,0,0
17,0,1,0,0,0,0,0
18,1,0,0,0,0,0,0
19,0,1,0,0,0,0,0
20,1,0,0,0,0,0,0
21,0,1,0,0,0,0,0
22,0,0,0,0,1,0,0
23,1,0,0,0,0,0,0
24,0,0,0,0,1,0,0
25,0,0,1,0,0,0,0
26,0,1,0,0,0,0,0
27,0,0,1,0,0,0,0
28,0,0,0,0,0,0,1
29,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...
307481,1,0,0,0,0,0,0
307482,0,0,0,0,1,0,0
307483,0,1,0,0,0,0,0
307484,0,1,0,0,0,0,0
307485,0,0,1,0,0,0,0
307486,0,0,1,0,0,0,0
307487,0,0,0,0,0,0,1
307488,0,0,0,0,0,0,1
307489,1,0,0,0,0,0,0
307490,0,0,1,0,0,0,0
307491,0,0,1,0,0,0,0
307492,1,0,0,0,0,0,0
307493,0,1,0,0,0,0,0
307494,0,1,0,0,0,0,0
307495,0,0,0,0,0,0,1
307496,0,0,0,0,1,0,0
307497,0,0,0,0,1,0,0
307498,0,1,0,0,0,0,0
307499,0,0,0,0,0,1,0
307500,1,0,0,0,0,0,0
307501,0,0,0,0,0,0,1
307502,0,1,0,0,0,0,0
307503,0,0,1,0,0,0,0
307504,0,0,0,0,0,0,1
307505,0,1,0,0,0,0,0
307506,0,0,0,0,1,0,0
307507,0,1,0,0,0,0,0
307508,0,0,0,0,1,0,0
307509,0,0,0,0,0,0,1
307510,0,0,0,0,1,0,0

In [14]:
app_train.describe() #顯示個欄位的計算

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [11]:
print(sub_train_after)

        WEEKDAY_APPR_PROCESS_START_FRIDAY  WEEKDAY_APPR_PROCESS_START_MONDAY  \
0                                       0                                  0
1                                       0                                  1
2                                       0                                  1
3                                       0                                  0
4                                       0                                  0
5                                       0                                  0
6                                       0                                  0
7                                       0                                  1
8                                       0                                  0
9                                       0                                  0
10                                      0                                  0
11                                      1                                  0
12                                      1                                  0
13                                      0                                  0
14                                      0                                  1
15                                      0                                  0
16                                      0                                  0
17                                      0                                  1
18                                      1                                  0
19                                      0                                  1
20                                      1                                  0
21                                      0                                  1
22                                      0                                  0
23                                      1                                  0
24                                      0                                  0
25                                      0                                  0
26                                      0                                  1
27                                      0                                  0
28                                      0                                  0
29                                      0                                  0
...                                   ...                                ...
307481                                  1                                  0
307482                                  0                                  0
307483                                  0                                  1
307484                                  0                                  1
307485                                  0                                  0
307486                                  0                                  0
307487                                  0                                  0
307488                                  0                                  0
307489                                  1                                  0
307490                                  0                                  0
307491                                  0                                  0
307492                                  1                                  0
307493                                  0                                  1
307494                                  0                                  1
307495                                  0                                  0
307496                                  0                                  0
307497                                  0                                  0
307498                                  0                                  1
307499                                  0                                  0
307500                                  1                                  0
307501                                  0                                  0
307502                                  0                                  1
307503                                  0                                  0
307504                                  0                                  0
307505                                  0                                  1
307506                                  0                                  0
307507                                  0                                  1
307508                                  0                                  0
307509                                  0                                  0
307510                                  0                                  0

        WEEKDAY_APPR_PROCESS_START_SATURDAY  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
5                                         0
6                                         0
7                                         0
8                                         0
9                                         0
10                                        1
11                                        0
12                                        0
13                                        0
14                                        0
15                                        1
16                                        0
17                                        0
18                                        0
19                                        0
20                                        0
21                                        0
22                                        0
23                                        0
24                                        0
25                                        1
26                                        0
27                                        1
28                                        0
29                                        0
...                                     ...
307481                                    0
307482                                    0
307483                                    0
307484                                    0
307485                                    1
307486                                    1
307487                                    0
307488                                    0
307489                                    0
307490                                    1
307491                                    1
307492                                    0
307493                                    0
307494                                    0
307495                                    0
307496                                    0
307497                                    0
307498                                    0
307499                                    0
307500                                    0
307501                                    0
307502                                    0
307503                                    1
307504                                    0
307505                                    0
307506                                    0
307507                                    0
307508                                    0
307509                                    0
307510                                    0

        WEEKDAY_APPR_PROCESS_START_SUNDAY  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
5                                       0
6                                       1
7                                       0
8                                       0
9                                       0
10                                      0
11                                      0
12                                      0
13                                      0
14                                      0
15                                      0
16                                      0
17                                      0
18                                      0
19                                      0
20                                      0
21                                      0
22                                      0
23                                      0
24                                      0
25                                      0
26                                      0
27                                      0
28                                      0
29                                      0
...                                   ...
307481                                  0
307482                                  0
307483                                  0
307484                                  0
307485                                  0
307486                                  0
307487                                  0
307488                                  0
307489                                  0
307490                                  0
307491                                  0
307492                                  0
307493                                  0
307494                                  0
307495                                  0
307496                                  0
307497                                  0
307498                                  0
307499                                  0
307500                                  0
307501                                  0
307502                                  0
307503                                  0
307504                                  0
307505                                  0
307506                                  0
307507                                  0
307508                                  0
307509                                  0
307510                                  0

        WEEKDAY_APPR_PROCESS_START_THURSDAY  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         1
5                                         0
6                                         0
7                                         0
8                                         0
9                                         1
10                                        0
11                                        0
12                                        0
13                                        1
14                                        0
15                                        0
16                                        1
17                                        0
18                                        0
19                                        0
20                                        0
21                                        0
22                                        1
23                                        0
24                                        1
25                                        0
26                                        0
27                                        0
28                                        0
29                                        0
...                                     ...
307481                                    0
307482                                    1
307483                                    0
307484                                    0
307485                                    0
307486                                    0
307487                                    0
307488                                    0
307489                                    0
307490                                    0
307491                                    0
307492                                    0
307493                                    0
307494                                    0
307495                                    0
307496                                    1
307497                                    1
307498                                    0
307499                                    0
307500                                    0
307501                                    0
307502                                    0
307503                                    0
307504                                    0
307505                                    0
307506                                    1
307507                                    0
307508                                    1
307509                                    0
307510                                    1

        WEEKDAY_APPR_PROCESS_START_TUESDAY  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
5                                        0
6                                        0
7                                        0
8                                        0
9                                        0
10                                       0
11                                       0
12                                       0
13                                       0
14                                       0
15                                       0
16                                       0
17                                       0
18                                       0
19                                       0
20                                       0
21                                       0
22                                       0
23                                       0
24                                       0
25                                       0
26                                       0
27                                       0
28                                       0
29                                       1
...                                    ...
307481                                   0
307482                                   0
307483                                   0
307484                                   0
307485                                   0
307486                                   0
307487                                   0
307488                                   0
307489                                   0
307490                                   0
307491                                   0
307492                                   0
307493                                   0
307494                                   0
307495                                   0
307496                                   0
307497                                   0
307498                                   0
307499                                   1
307500                                   0
307501                                   0
307502                                   0
307503                                   0
307504                                   0
307505                                   0
307506                                   0
307507                                   0
307508                                   0
307509                                   0
307510                                   0

        WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                          1
1                                          0
2                                          0
3                                          1
4                                          0
5                                          1
6                                          0
7                                          0
8                                          1
9                                          0
10                                         0
11                                         0
12                                         0
13                                         0
14                                         0
15                                         0
16                                         0
17                                         0
18                                         0
19                                         0
20                                         0
21                                         0
22                                         0
23                                         0
24                                         0
25                                         0
26                                         0
27                                         0
28                                         1
29                                         0
...                                      ...
307481                                     0
307482                                     0
307483                                     0
307484                                     0
307485                                     0
307486                                     0
307487                                     1
307488                                     1
307489                                     0
307490                                     0
307491                                     0
307492                                     0
307493                                     0
307494                                     0
307495                                     1
307496                                     0
307497                                     0
307498                                     0
307499                                     0
307500                                     0
307501                                     1
307502                                     0
307503                                     0
307504                                     1
307505                                     0
307506                                     0
307507                                     0
307508                                     0
307509                                     1
307510                                     0

[307511 rows x 7 columns]

In [8]:
sub_train_after.head()

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0